.inventory-card .scroll {
  height: calc(100% - 50px);
}

.inventory-card input {
  width: 40%;
}

.inventory-card button {
  background: linear-gradient(90deg, #9c88ff, #487eb0);
  color: white;
}

.inventory-card .list-item .left p {
  margin-right: 0.25rem;
} 

@media (max-width: 800px) {
  .inventory-card .list-item:first-child {
    display: none;
  }
}

