.journal-card .scroll {
  height: calc(100% - 50px);
}

.journal-card .scroll .list-item {
  border-left: 10px #777 solid;
}

.journal-card .list-item.green {
  border-left: 10px #2ecc71 solid;
}

.journal-card .list-item.yellow {
  border-left: 10px #f1c40f solid;
}

.journal-card .list-item.red {
  border-left: 10px #e74c3c solid;
}

.journal-card .list-item .left p {
  margin-right: 0.25rem;
} 

.journal-card button.green { background-color: #2ecc71; }
.journal-card button.yellow { background-color: #f1c40f; }
.journal-card button.red { background-color: #e74c3c; }
.journal-card button {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 0.5rem;
}

@media (max-width: 800px) {
  .journal-card .list-item .left input {
    width: 100%;
  }
}
